<app-header></app-header>



<div class="row">
        <app-leftnav></app-leftnav>
    <div class="col-lg-10 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">

<router-outlet></router-outlet>

</div>
</div>
</div>
<app-rightnav ></app-rightnav>
</div>

<app-footer></app-footer>
<nav class="footer navbar navbar-light bg-light navbar-fixed-bottom">
    <a class="navbar-brand" href="#">contact</a>
    <a class="navbar-brand" href="https://www.linkedin.com/in/rajesh-hazari-a4b08415/"><span class="fa fa-linkedin"></span>@rajeshhazari</a>
  </nav>
