<h3>Transcribe App </h3>

<div class="container-fluid">

<p>This wesite is mainly used to transcribe your audio file Sample Audio <i class="fa fa-audio-description" aria-hidden="true"></i></p>



<div class="col">

    <!-- <p>Have an account? <a (click)="goToLoginPage()" class="signup">Sign in</a></p>
    <p>Create account! <a (click)="goToRegistration()" class="register">Sign in</a></p>
     -->
     <p>Have an account. Please Login <button type="button" [routerLink]="'login'" class="btn btn-primary">Login</button></p>
     <p>Create account! <button type="button" [routerLink]="'register'" class="btn btn-primary">Register</button></p>
</div>
</div>

